<%= form_with(model: [@movie, @review]) do |form| %>
  <%= render "shared/errors", object: @review %>

  <%= form.label :name %>
  <%= form.text_field :name, autofocus: true  %>

  <%= form.label :stars %>
  <%#= form.select :stars, Review::STARS, prompt: "Pick one" %>
  <%# collection_radio_buttons helper for more complicated objects
      https://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-collection_radio_buttons
      TODO: Could this be retro fitted to use that helper? (It needs 4..6 arguments)
  %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= form.radio_button :stars, star %>
      <%= label_tag star %>
    </span>
  <% end %>

  <%= form.label :comment %>
  <%= form.text_area :comment, rows: 10, placeholder: "Add a comment" %>

  <%#= form.submit "Post Review" %>
  <%= form.submit %>
<% end %>
